/covhtml/
/covhtml2/
/covhtmlalusouce/
/work/
*.mpf
*.*~
*.swp
*.ucdb
/uvm_close/work
/uvm_close/*.mpf
/uvm_close/*.*~
/uvm_close/*.swp
/uvm_close/*.ucbd
/uvm_close/flist~
/uvm_close/uvm_close.cr.mti
